body {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

.flex {
  display: flex;
  flex-direction: column;
}

.flex.border {
  border: 1px solid black;
  padding: 1rem;
  width: 240px;
}

form {
  margin: auto;
  width: 240px;
}

.selected {
  color: red;
}

ul {
  padding-left: 1rem;
  margin: 0;
}
